* {
    font-family: 'Lato', sans-serif;
}

html body {
    background-color: #2E58A6;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
}
body::-webkit-scrollbar{
    width: 11px;
    background-color: #2E58A6;
    background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");
}
body::-webkit-scrollbar-thumb{
    background-color: #fff;
    background-image: url("https://www.transparenttextures.com/patterns/dark-circles.png");
    border-radius: 8px;
}

.nav-item {
    font-weight: 700;
    text-transform: uppercase;
}
.navbar-dark .navbar-nav .nav-item .nav-link:hover,
.navbar-dark .navbar-nav .nav-item.active .nav-link {
    background-color: #fff;
    color: #000;
}
.navbar-dark .navbar-nav .nav-item .nav-link {
    color: #d1d1d1;
    padding: 5px 15px;
}

